.btn {
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 0;
  font-family: 'Josefin Sans', sans-serif;

  &__nav {
    width: 3rem;
    height: 2rem;
    display: grid;
    background-color: transparent;

    & > * {
      height: 2px;
      background-color: var(--clr-white);
    }

    &--line:nth-child(2) {
      align-self: center;
    }

    &--line:last-child {
      align-self: end;
    }
  }

  &__cta {
    background-color: var(--clr-prim);
    color: var(--clr-white);
    font-size: var(--fz-tiny-plus);
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    transition: all 0.2s;

    &:hover,
    &:focus {
      background-color: var(--clr-prim-dark);
    }
  }

  &__link {
    &:link,
    &:visited {
      font-size: var(--fz-micro);
      color: var(--clr-white);
      text-transform: uppercase;
      text-align: center;
      padding: 1.5rem;
      transition: all 0.2s;
    }

    &:hover,
    &:focus {
      background-color: rgba(var(--rgb-white), 0.05);
      transform: translateY(-3px);
    }
  }
}
