.footer {
  display: grid;
  background-color: var(--clr-sec);
  padding: 2rem;
  row-gap: 5rem;

  &__copyright {
    text-align: center;
    font-size: var(--fz-micro);
    max-width: 500px;
    justify-self: center;
  }
}
