@use '../abstracts/mixins' as *;

.realtors {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  row-gap: 3rem;

  background-color: var(--clr-sec);
  padding: 4rem 1rem;

  &__title {
    color: var(--clr-prim);
    text-transform: uppercase;
  }

  &__agents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
