@use '../abstracts/mixins' as *;
.home {
  @include mq(tab-l) {
    display: grid;
    grid-template-rows: 6rem 80vh 1fr 45vh repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [full-end];
  }

  @include mq(d) {
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr) [full-end];
  }

  &__sidebar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 2rem;

    @include mq(d) {
      grid-column: sidebar-start / sidebar-end;
      grid-row: 1 / -1;
    }
  }

  &__header {
    grid-column: full-start / col-end 6;
    grid-row: 2 / 3;

    @include mq(d) {
      grid-row: 1 / 2;
    }
  }

  &__realtors {
    grid-column: col-start 7 / full-end;
    grid-row: 2 / 3;

    @include mq(d) {
      grid-row: 1 / 2;
    }
  }

  &__features {
    grid-column: full-start / full-end;

    @include mq(d) {
      grid-column: center-start / center-end;
    }

    padding: 15rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__story {
    grid-column: full-start / full-end;
  }

  &__homes {
    grid-column: full-start / full-end;

    @include mq(d) {
      grid-column: center-start / center-end;
    }

    padding: 10rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__gallery {
    grid-column: full-start / full-end;
  }

  &__footer {
    grid-column: full-start / full-end;
  }
}

//////////////////////////////////////////////////////////////////////
// HOMES
.homes {
  &__house {
    margin: 5rem;
  }
}

//////////////////////////////////////////////////////////////////////
// FEATURES
.features {
  &__feature {
    margin: 5rem;
  }
}
